# Projet Fil Rouge
### Nom, Prénom, Année

## Data Cleaning

In [1]:
# Ici, vous réaliserez le cleaning de votre jeu de données
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('./data/anxiety_attack_dataset.csv')
df.head()

In [ ]:
df.isna().any()

In [20]:
#df.info() => 20 colonnes.
try :
    df.drop(columns='ID', inplace=True)
except KeyError as message:
    print('l\'index a déjà été effacé')
df.info()

l'index a déjà été effacé
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                12000 non-null  int64
 1   Gender                             12000 non-null  object
 2   Occupation                         12000 non-null  object
 3   Sleep Hours                        12000 non-null  float64
 4   Physical Activity (hrs/week)       12000 non-null  float64
 5   Caffeine Intake (mg/day)           12000 non-null  int64
 6   Alcohol Consumption (drinks/week)  12000 non-null  int64
 7   Smoking                            12000 non-null  object
 8   Family History of Anxiety          12000 non-null  object
 9   Stress Level (1-10)                12000 non-null  int64
 10  Heart Rate (bpm during attack)     12000 non-null  int64
 11  Breathing Rate (breaths/min)       12000 non-null  int64
 12  Sweating Level (1-5)               12000 non-null  int64
 13  Dizziness                          12000 non-null  object
 14  Medication                         12000 non-null  object
 15  Therapy Sessions (per month)       12000 non-null  int64
 16  Recent Major Life Event            12000 non-null  object
 17  Diet Quality (1-10)                12000 non-null  int64
 18  Severity of Anxiety Attack (1-10)  12000 non-null  int64
dtypes: float64(2), int64(10), object(7)
memory usage: 1.7+ MB

In [25]:
#Columns renaming
df.rename(columns={'Gender'                            : 'gender',
                   'Occupation'                        : 'occupation',
                   'Sleep Hours'                       : 'sleep_hours',
                    'Physical Activity (hrs/week)'     : 'phyisical_activity',
                   'Caffeine Intake (mg/day)'          : 'caffeine_intake',
                   'Alcohol Consumption (drinks/week)' : 'alcohol_consuption',
                   'Smoking'                           : 'smoking',
                   'Family History of Anxiety'         : 'family_history',
                   'Stress Level (1-10)'               : 'stress_level',
                   'Heart Rate (bpm during attack)'    : 'hear_rate_during_attack',
                   'Breathing Rate (breaths/min)'      : 'breathing_rate',
                   'Sweating Level (1-5)'              : 'sweating_level',
                   'Dizziness'                         : 'dizziness',
                   'Medication'                        : 'medication',
                   'Therapy Sessions (per month)'      : 'therapy_session',
                   'Recent Major Life Event'           : 'recent_life_event',
                   'Diet Quality (1-10)'               : 'diet_quality',
                   'Severity of Anxiety Attack (1-10)' : 'attack_severity'
           }, inplace=True)

In [27]:
genders = df['gender'].value_counts()
genders

gender
Female    5809
Male      5723
Other      468
Name: count, dtype: int64

In [29]:
df.loc[(df['gender'] != 'Male') & (df['gender'] != 'Female')]

,Age,gender,occupation,sleep_hours,phyisical_activity,caffeine_intake,alcohol_consuption,smoking,family_history,stress_level,hear_rate_during_attack,breathing_rate,sweating_level,dizziness,medication,therapy_session,recent_life_event,diet_quality,attack_severity
49,37,Other,Other,8.9,9.4,376,14,No,Yes,7,82,16,4,No,No,6,No,9,1
55,64,Other,Engineer,10.0,0.4,159,14,No,No,9,94,22,5,No,No,3,No,7,4
79,57,Other,Unemployed,5.5,4.2,354,1,No,No,9,177,18,2,No,Yes,4,No,6,6
88,62,Other,Engineer,4.6,2.7,492,10,Yes,Yes,10,165,23,2,No,No,8,Yes,8,3
142,32,Other,Teacher,4.9,7.0,467,10,Yes,Yes,5,127,30,2,No,No,5,No,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11815,21,Other,Doctor,6.0,7.1,300,10,No,Yes,3,156,30,5,No,No,7,No,6,10
11853,21,Other,Doctor,8.5,4.5,17,14,Yes,Yes,2,101,23,5,Yes,Yes,8,Yes,4,4
11920,39,Other,Unemployed,3.7,9.8,385,18,Yes,Yes,5,64,37,1,Yes,Yes,6,No,3,2
11968,38,Other,Doctor,9.2,4.0,292,1,Yes,Yes,1,62,36,1,No,No,6,No,1,10
11981,48,Other,Doctor,6.7,5.6,300,5,Yes,No,3,95,12,1,No,No,2,Yes,8,1

In [31]:
df.loc[(df['attack_severity']) > 8]

,Age,gender,occupation,sleep_hours,phyisical_activity,caffeine_intake,alcohol_consuption,smoking,family_history,stress_level,hear_rate_during_attack,breathing_rate,sweating_level,dizziness,medication,therapy_session,recent_life_event,diet_quality,attack_severity
0,56,Female,Other,9.6,8.3,175,6,No,No,4,145,33,3,No,No,4,Yes,9,10
6,56,Male,Doctor,3.8,7.5,411,13,Yes,Yes,2,81,22,4,No,No,5,Yes,10,10
16,39,Male,Teacher,4.4,9.5,2,7,No,Yes,1,145,24,3,No,No,3,Yes,3,9
18,41,Female,Engineer,5.9,1.1,278,19,No,Yes,4,105,26,1,No,Yes,1,No,10,10
19,61,Male,Other,7.3,0.8,362,8,No,No,4,166,38,1,No,No,5,No,7,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11973,36,Male,Other,5.0,0.6,493,16,No,Yes,9,105,36,2,No,Yes,4,No,5,9
11974,46,Female,Doctor,9.2,2.1,315,6,No,No,1,153,24,1,No,No,5,Yes,9,10
11977,50,Male,Unemployed,8.7,1.6,340,0,No,No,10,156,16,5,No,No,1,Yes,10,10
11985,35,Male,Doctor,4.9,1.1,374,11,No,No,8,69,21,2,Yes,No,4,No,2,10
11997,23,Female,Student,9.8,8.1,140,19,Yes,No,2,81,33,2,No,No,8,No,1,10

## Data Visualisation
Ici, vous réaliserez vos observations, créerez vos graphes dans un premier temps. Une fois qu'ils seront fait, ils seront à intégrer à votre application Streamlit. Considérez donc cet espace comme un bac à sable avant de vous lancer dans le développement de l'application de Data Visualisation.

In [ ]:
# Ici, vous réaliserez la visualisation de votre jeu de données