In [1]:
import pandas as pd
df = pd.read_csv('./src/assets/data/anxiety_attack_dataset.csv')

In [6]:
# Présentation
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ID                                 12000 non-null  int64
 1   Age                                12000 non-null  int64
 2   Gender                             12000 non-null  object
 3   Occupation                         12000 non-null  object
 4   Sleep Hours                        12000 non-null  float64
 5   Physical Activity (hrs/week)       12000 non-null  float64
 6   Caffeine Intake (mg/day)           12000 non-null  int64
 7   Alcohol Consumption (drinks/week)  12000 non-null  int64
 8   Smoking                            12000 non-null  object
 9   Family History of Anxiety          12000 non-null  object
 10  Stress Level (1-10)                12000 non-null  int64
 11  Heart Rate (bpm during attack)     12000 non-null  int64
 12  Breathing Rate (breaths/min)       12000 non-null  int64
 13  Sweating Level (1-5)               12000 non-null  int64
 14  Dizziness                          12000 non-null  object
 15  Medication                         12000 non-null  object
 16  Therapy Sessions (per month)       12000 non-null  int64
 17  Recent Major Life Event            12000 non-null  object
 18  Diet Quality (1-10)                12000 non-null  int64
 19  Severity of Anxiety Attack (1-10)  12000 non-null  int64
dtypes: float64(2), int64(11), object(7)
memory usage: 1.8+ MB

In [4]:
# Vérification des données
df.isna().any()

ID                                   False
Age                                  False
Gender                               False
Occupation                           False
Sleep Hours                          False
Physical Activity (hrs/week)         False
Caffeine Intake (mg/day)             False
Alcohol Consumption (drinks/week)    False
Smoking                              False
Family History of Anxiety            False
Stress Level (1-10)                  False
Heart Rate (bpm during attack)       False
Breathing Rate (breaths/min)         False
Sweating Level (1-5)                 False
Dizziness                            False
Medication                           False
Therapy Sessions (per month)         False
Recent Major Life Event              False
Diet Quality (1-10)                  False
Severity of Anxiety Attack (1-10)    False
dtype: bool

In [ ]:
df.shape # lignes / colonnes

(12000, 20)

In [ ]:
# Description des données
df.describe()

,ID,Age,Sleep Hours,Physical Activity (hrs/week),Caffeine Intake (mg/day),Alcohol Consumption (drinks/week),Stress Level (1-10),Heart Rate (bpm during attack),Breathing Rate (breaths/min),Sweating Level (1-5),Therapy Sessions (per month),Diet Quality (1-10),Severity of Anxiety Attack (1-10)
count,12000.00000,12000.00000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000
mean,6000.50000,40.96675,6.482650,5.030892,246.696083,9.492833,5.462250,119.398500,25.462333,2.987417,4.518417,5.497333,5.507583
std,3464.24595,13.47328,2.014885,2.889000,144.487071,5.769364,2.897201,34.806711,8.090686,1.414482,2.866010,2.867579,2.858663
min,1.00000,18.00000,3.000000,0.000000,0.000000,0.000000,1.000000,60.000000,12.000000,1.000000,0.000000,1.000000,1.000000
25%,3000.75000,29.00000,4.800000,2.500000,122.000000,5.000000,3.000000,89.000000,18.000000,2.000000,2.000000,3.000000,3.000000
50%,6000.50000,41.00000,6.500000,5.000000,244.000000,9.000000,5.000000,119.000000,25.000000,3.000000,5.000000,5.000000,6.000000
75%,9000.25000,53.00000,8.200000,7.525000,371.000000,15.000000,8.000000,149.000000,32.000000,4.000000,7.000000,8.000000,8.000000
max,12000.00000,64.00000,10.000000,10.000000,499.000000,19.000000,10.000000,179.000000,39.000000,5.000000,9.000000,10.000000,10.000000